.drinkslist{
    background-color: white;
    margin-top: 20px;
    height: fit-content;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
}
.category{
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
    padding: 15px;
}
.category .link{
    text-decoration: none;
}
.drink1{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding:10px;
    height: 100%;
}

.drink2{
    height: 100%;
    width: 200px;
    padding: 10px;
    margin-right: 10px;
    line-height: 8px;
    text-decoration: none;
    color: black;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
}
.drink2:hover{
    border-radius: 4px;
    cursor: pointer;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.drink2>img{
    width: 100%;
    height: 150px;
    margin-bottom: 5px;
}
.waa{
    display: flex;
    margin-bottom: 50px;
}
.jambo{
    flex: 0.5;
}
.text{
    margin-left: 50px;
    padding: 20px;
    /* background-color: rgb(100, 218, 218); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0,0.19);
    flex: 0.5;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .divloader{
      height: 100vh;
  }


.discount{
    height: 20px;
    width:50px;
    padding: 5px;
    color: white;
}
